SECRET_KEY=your_secret_key
ENCRYPTION_KEY=your_encrytion_key

DB_HOST=your_db_host_name
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db_name

LLM_API_KEY=your_llm_api_key