# =========================
# Node / React
# =========================

frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env

# =========================
# Python
# =========================

backend/app/__pycache__/
backend/*.pyc
backend/.pytest_cache
backend/.mypy_cache
backend/.venv
launch.json
backend/app/services/soap_generator/__pycache__/

# =========================
# Docker
# =========================

docker-data
*.log

# =========================
# Pipeline
# =========================



# =========================
# other
# =========================

.DS_Store