# =========================
# Node / React
# =========================

frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env

# =========================
# Python
# =========================

backend/*.pyc
backend/.pytest_cache
backend/.mypy_cache
backend/.venv
launch.json
backend/app/services/soap_generator/scenarios.json
backend/app/services/RAG/handbook_rag_function_project/scenarios.json
backend/app/services/RAG/assets/emergency_triage_education_kit_-_second_edition.pdf

__pycache__/

.idea/
venv/

# =========================
# Docker
# =========================

docker-data
*.log

# =========================
# Pipeline
# =========================



# =========================
# other
# =========================

.env
.DS_Store
