fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
passlib[argon2]
pydantic[email]
python-dotenv
argon2-cffi
python-jose[cryptography]

openai
pydantic
PyYAML

cryptography

scikit-learn==1.5.2
joblib==1.4.2
numpy==2.1.1
scipy==1.14.1